.home h1 {
	font-size: 3rem;
}

.home {
	background-color: transparent;
	margin-left: -1.5rem;
}

.line {
	width: 52em;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	position: relative;
	font-size: 3rem;
	margin-top: 20%;
	margin-bottom: -3%;
	width: 16em;
	text-align: center;
	overflow: hidden;
	transform: translateY(-50%);
	white-space: nowrap;
}

.anim-typewriter {
	text-align: center;
	animation: typewriter 1.3s steps(32) 0.25s 1 normal both;
}
@media (max-width: 768px) {
	.home h1 {
		/* margin: 0 auto; */
		font-size: 1.4rem;
		/* margin-left: 0rem; */
		margin-top: 50%;
	}
	.anim-typewriter {
		text-align: center;
		animation: typewriter 1.2s steps(32) 0.25s 1 normal both;
	}

	.line {
	}
}

@media (min-width: 768px) {
	.home h1 {
		font-size: 2rem;
	}
}

@keyframes typewriter {
	from {
		width: 0ch;
	}
	to {
		width: 32ch;
	}
}
