.facility-view {
	margin-top: 3rem;
}

.facility-view h1 {
	justify-content: center;
	font-size: 2rem;
	padding-bottom: 1.5rem;
}

.back-arrow {
	color: #ff3b42;
	height: 30px;
	width: 30px;
	transition: all 0.2s ease-in-out;
}

.back-arrow::after {
	position: absolute;
	transition: opacity 0.2s ease-in-out;
	opacity: 1;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.back-arrow:hover {
	cursor: pointer;
	transform: scale(1.35, 1.35);
}

.map-marker {
	padding-right: 0.5rem;
}

.phone-icon {
	color: #ff3b42;
	padding-right: 0.5rem;
}

.globe-icon {
	color: #ff3b42;
	cursor: pointer;
}

.facility-view p {
	font-size: 1.33rem;
}
