.facility-view {
	margin-top: 3rem;
}

.facility-view h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	justify-content: center;
	font-size: 2rem;
	padding-bottom: 1.5rem;
}

.back-arrow {
	color: #ff3b42;
	height: 30px;
	width: 30px;
	transition: all 0.2s ease-in-out;
}

.back-arrow::after {
	position: absolute;
	transition: opacity 0.2s ease-in-out;
	opacity: 1;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.back-arrow:hover {
	cursor: pointer;
	transform: scale(1.35, 1.35);
}

.view-map {
	margin-left: -5rem;
	position: absolute;
	margin-left: 0.3rem;
	color: #fa121a;
	cursor: pointer;
}

.map-marker {
	padding-right: 0.5rem;
	cursor: pointer;
}

.map-marker2 {
	padding-right: 0.5rem;
	cursor: pointer;
	color: #ff3b42;
	display: inline-block;
}

.phone-icon {
	color: #ff3b42;
	padding-right: 0.5rem;
}

.globe-icon {
	color: #ff3b42;
	cursor: pointer;
}

.facility-view p {
	font-size: 1.25rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

@media only screen and (max-width: 600px) {
	.facility-view h1 {
		font-size: 1.5rem;
	}

	.facility-view p {
		font-size: 1rem;
	}

	.facility-view a {
		font-size: 1rem;
	}
}
