.city-view {
	margin-left: 1rem;
	margin-top: -3rem;
	position: relative;
	overflow-y: hidden;
}

.locations {
	margin-top: -135px;
}

.location-grid {
	z-index: -1;
}

.location-container {
	background-color: transparent;
}

.location-column-container {
	height: 92vh;
	overflow-y: scroll;
	padding-right: 1rem;
	z-index: 100;
	background-color: white;
	position: absolute;
	top: 130;
	left: 0;
}

.location-map-container {
	z-index: 1;
}

.locations h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 2.8rem;
}

.locations ul {
	list-style-type: none;
	padding: 0;
}

.locations li {
	font-size: 1.2rem;
	line-height: 4rem;

	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin-bottom: 4rem;
}
