.form {
	height: 10em;
	position: relative;
	font-size: 2rem;
	margin-top: -3.5%;
	text-align: center;
}

.form h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.form button {
	/* display: none; */
}
::placeholder {
	color: white;
}

.location-button {
	background-color: blue;
	height: 3rem;
	margin-left: 4rem;
}

.search-box {
	/* background-color: #ff3b42; */
	background-image: linear-gradient(to right, #ff3b42, #f98487);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 40px;
	height: 2rem;
	padding: 1.25rem;
	transition: box-shadow 0.25s;
	animation: fadeIn 1200ms;
	animation-delay: 1.25s;

	-moz-animation: fadeIn 1200ms; /* Firefox */
	-moz-animation-delay: 1.25s;
	-webkit-animation: fadeIn 1200ms; /* Safari and Chrome */
	-webkit-animation-delay: 1.25s;
	-o-animation: fadeIn 3200ms; /* Opera */

	opacity: 0;
	animation-fill-mode: forwards;
}
.textbox {
	border: none;
	background: blue;
	outline: none;
	float: left;
	width: 0px;
	color: white;
	font-size: 1.5rem;
	transition: 0.25s;
	line-height: 40px;
	/* background-color: black; */
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.search-btn {
	/* color: white; */
	float: right;
	width: 40px;
	margin-top: -2rem;
	/* height: 40px; */
	/* border-radius: 50%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center; */
}

.dropdown {
	float: left;
	height: 1.5rem;
	width: 15rem;
	margin-top: -0.4rem;
	margin-left: -3rem;
	margin-right: 4rem;
	background-color: transparent;
	/* border: none; */
	color: white;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	border-width: 1px;
	border-color: white;
	border-right: white;
	border-top: white;
	border-bottom: white;
	padding-left: 4rem;
}

.use-location-wrapper {
	background-color: white;
	margin-left: -0.5rem;
	margin-top: 1.8rem;
	width: 260px;
	font-size: 1.2rem;
	height: 35px;
	border: solid grey 2px;
}

.use-location-wrapper:hover {
	background-image: linear-gradient(to right, #ff3b42, #f98487);
	cursor: pointer;
}

.use-location-wrapper:hover .my-location {
	color: white;
}

.my-location {
	margin-top: 0.35rem;
	height: 20px;
	background-color: transparent;
	color: black;
	width: 260px;
	margin-left: -1rem;
}

.my-location p {
	height: 20px;
	display: inline;
	margin-left: 1.5rem;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.search-btn:hover {
	cursor: pointer;
}

.search-box:hover > .textbox {
	/* width: 240px;
	padding: 0 6px; */
}

.search-box:hover {
	box-shadow: -0.25px 1px 5px 4px #888888;
}

.textbox:focus {
	/* width: 240px;
	padding: 0 6px; */
}

.pac-container {
	width: 1rem;
}

@media only screen and (max-width: 600px) {
	.test {
		background: yellow;
	}
	.search-btn {
		margin-top: -2.7rem;
		height: 25px;
		width: 25px;
	}
	.search-box {
		margin-top: -5rem;
		margin-left: 0.25rem;
		height: 0.5rem;
	}

	.textbox {
		width: 300px;
		height: 2rem;
		margin-top: -0.8rem;
		font-size: 1rem;
		background-color: transparent;
	}

	.dropdown {
		width: 6rem;

		height: 1.5rem;
		float: right;
		margin-top: -2rem;
		font-size: 1rem;
		padding-left: 1.2rem;
		border-width: 0.25px;
		border-color: transparent;
		border-left-color: white;
		border-radius: 0%;
	}

	.textbox:focus {
		/* width: 300px; */
		/*line-height: 1.5rem; */
		/* padding: 0 0px; */
		/* height: 2.5rem;
		line-height: 2rem; */
	}
}
@media only screen and (min-width: 600px) {
	.test {
		background: green;
	}

	.search-box {
		margin-top: -30px;
		height: 0.5rem;
	}
	.search-btn {
		height: 25px;
		width: 25px;
		margin-top: -0.9rem;
	}
	.textbox {
		width: 200px;
		height: 2.5rem;
		margin-top: -0.8rem;
		font-size: 1.25rem;
		background-color: transparent;
	}
}

@media only screen and (min-width: 768px) {
	.test {
		background: blue;
	}

	.search-box {
		margin-top: -30px;
		height: 0.5rem;
	}
	.search-btn {
		height: 25px;
		width: 25px;
		margin-top: -0.9rem;
	}
	.textbox {
		/* width: 200px; */
		height: 2.5rem;
		margin-top: -0.8rem;
		font-size: 1.25rem;
		background-color: transparent;
	}
}

@media only screen and (min-width: 992px) {
	.test {
		background: orange;
	}
	.textbox {
		/* width: 200px; */
		width: 0px;
		height: 2.5rem;
		margin-top: -0.8rem;
		font-size: 1.25rem;
		background-color: transparent;
	}
}

@media only screen and (min-width: 1200px) {
	.test {
		background: pink;
	}

	.search-box {
		margin-top: -30px;
		height: 0.5rem;
	}
	.search-btn {
		height: 25px;
		width: 25px;
		margin-top: -0.9rem;
	}
	.textbox {
		/* width: 200px; */
		width: 300px;
		height: 2.5rem;
		margin-top: -0.8rem;
		font-size: 1.25rem;
		background-color: transparent;
	}
}
