.form {
	height: 10em;
	position: relative;
	font-size: 2rem;
	margin-top: -3%;
	margin-bottom: -7.5%;
	text-align: center;
	z-index: 300;
	background-color: transparent;
	padding-bottom: -1rem;
}
.form h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}
.form button {
	display: none;
}
.placeholder {
	color: white;
}

.search-box2 {
	/* background-color: #ff3b42; */
	background-image: linear-gradient(to right, #ff3b42, #f98487);
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 200px;
	height: 1rem;
	padding: 1.25rem;
	transition: box-shadow 0.25s;
	-moz-animation: fadeIn 1000ms; /* Firefox */
	-moz-animation-delay: 0.2s;
	-webkit-animation: fadeIn 1000ms; /* Safari and Chrome */
	-webkit-animation-delay: 0.2s;
	-o-animation: fadeIn 3200ms; /* Opera */
	opacity: 0;
	animation-fill-mode: forwards;
}
.textbox2 {
	border: none;
	background: none;
	outline: none;
	float: left;
	width: 240px;
	color: white;
	font-size: 1.25rem;
	line-height: 20px;
	height: 1.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	/* background-color: blue; */
}

.search-btn2 {
	/* color: white; */
	float: right;
	width: 30px;
	margin-top: -0.3rem;
	/* height: 20px; */

	/* border-radius: 50%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center; */
}

.dropdown2 {
	float: left;
	height: 2rem;
	width: 15rem;
	margin-top: -0.4rem;
	margin-left: -3rem;
	margin-right: 4rem;
	background-color: transparent;
	/* border: none; */
	color: white;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	border-width: 1px;
	border-color: white;
	border-right: white;
	border-top: white;
	border-bottom: white;
	padding-left: 4rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.use-location-wrapper2 {
	background-color: white;
	margin-left: -0.5rem;
	margin-top: 1.2rem;
	width: 220px;
	font-size: 1.2rem;
	height: 35px;
	border: solid grey 2px;
	position: absolute;
	z-index: 700;
}

.my-location2 {
	margin-top: 0.25rem;
	height: 20px;
	background-color: transparent;
	color: black;
	width: 260px;
	margin-left: -1.5rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.my-location2 p {
	height: 20px;
	display: inline;
	margin-left: 1.5rem;
	font-size: 1rem;
}

.use-location-wrapper2:hover {
	background-image: linear-gradient(to right, #ff3b42, #f98487);
	cursor: pointer;
}

.use-location-wrapper2:hover .my-location2 {
	color: white;
}

.search-btn2:hover {
	cursor: pointer;
}

.search-box2:hover {
	box-shadow: -0.25px 1px 5px 4px #888888;
}

.textbox2:focus {
	/* width: 240px;
	padding: 0 6px; */
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 600px) {
	.test2 {
		background: green;
	}

	.form {
		z-index: 500;
	}

	.search-btn2 {
		margin-top: -1rem;
		height: 25px;
		width: 25px;
	}
	.search-box2 {
		margin-top: -1rem;
		width: 200px;
		margin-left: 0.25rem;
		height: 0.5rem;
		transition: 0.25s;
	}

	.textbox2 {
		width: 140px;
		height: 2rem;
		margin-top: -0.8rem;
		margin-left: -0.5rem;
		font-size: 1rem;
		background-color: transparent;
	}

	.dropdown2 {
		width: 6rem;
		display: none;
		height: 1.5rem;
		float: right;
		margin-top: -0.5rem;
		font-size: 1rem;
		padding-left: 1.2rem;
		border-width: 0.25px;
		border-color: transparent;
		border-left-color: white;
		border-radius: 0%;
	}

	.use-location-wrapper2 {
		font-size: 0.8rem;
		margin-top: 1.5rem;
		height: 1.7rem;
	}

	.my-location2 p {
		height: 20px;
		display: inline;
		margin-left: -0.5rem;
		font-size: 0.9rem;
	}

	.search-box2:hover {
		width: 300px;
		/* line-height: 1.5rem;
		 padding: 0 0px; 
		height: 2.5rem;
		line-height: 2rem; */
	}
	.search-box2:hover > .dropdown2 {
		display: block;
		/* line-height: 1.5rem;
		 padding: 0 0px; 
		height: 2.5rem;
		line-height: 2rem; */
	}

	.search-box2:hover > .search-btn2 {
		margin-right: -7rem;
		/* line-height: 1.5rem;
		 padding: 0 0px; 
		height: 2.5rem;
		line-height: 2rem; */
	}

	.textbox2:focus > .dropdown2 {
		display: flex;
	}
}

@media only screen and (max-width: 1199px) {
	.test2 {
		background: green;
	}

	.form {
		z-index: 500;
	}

	.search-btn2 {
		margin-top: -1rem;
		height: 25px;
		width: 25px;
	}
	.search-box2 {
		margin-top: -1rem;
		width: 200px;
		margin-left: 0.25rem;
		height: 0.5rem;
		transition: 0.25s;
	}

	.textbox2 {
		width: 140px;
		height: 2rem;
		margin-top: -0.8rem;
		margin-left: -0.5rem;
		font-size: 1rem;
		background-color: transparent;
	}

	.dropdown2 {
		width: 6rem;
		display: none;
		height: 1.5rem;
		float: right;
		margin-top: -0.5rem;
		font-size: 1rem;
		padding-left: 1.2rem;
		border-width: 0.25px;
		border-color: transparent;
		border-left-color: white;
		border-radius: 0%;
	}

	.use-location-wrapper2 {
		font-size: 0.8rem;
		margin-top: 1.5rem;
		height: 1.7rem;
	}

	.my-location2 p {
		height: 20px;
		display: inline;
		margin-left: -0.5rem;
		font-size: 0.9rem;
	}

	.search-box2:hover {
		width: 300px;
		/* line-height: 1.5rem;
			 padding: 0 0px; 
			height: 2.5rem;
			line-height: 2rem; */
	}
	.search-box2:hover > .dropdown2 {
		display: block;
		/* line-height: 1.5rem;
			 padding: 0 0px; 
			height: 2.5rem;
			line-height: 2rem; */
	}

	.search-box2:hover > .search-btn2 {
		margin-right: -7rem;
		/* line-height: 1.5rem;
			 padding: 0 0px; 
			height: 2.5rem;
			line-height: 2rem; */
	}

	.textbox2:focus > .dropdown2 {
		display: flex;
	}
}

@media only screen and (min-width: 1200px) {
	.test {
		background: pink;
	}

	.search-box2 {
		margin-top: -4px;
		height: 0rem;
	}
	.search-btn2 {
		height: 25px;
		width: 25px;
		margin-top: -1rem;
	}
	.textbox2 {
		/* width: 200px; */
		width: 300px;
		height: 2.5rem;
		margin-top: -1.1rem;
		font-size: 1rem;
		background-color: transparent;
	}

	.dropdown2 {
		margin-top: -0.55rem;
		height: 1.5rem;
		font-size: 1rem;
	}
	.use-location-wrapper2 {
		font-size: 0.8rem;
		margin-left: 3.5rem;
		height: 1.7rem;
		width: 11rem;
	}

	.my-location2 p {
		margin-left: -3rem;
	}

	.my-location2 {
		margin-left: -1rem;
	}
}

@media only screen and (min-width: 1921px) {
	.test {
		background: pink;
	}
	/* .form {
		margin-top: 1%;
	} */
	.search-box2 {
		margin-top: -12px;
		height: 0rem;
	}
	.search-btn2 {
		height: 25px;
		width: 25px;
		margin-top: -1rem;
	}
	.textbox2 {
		/* width: 200px; */
		width: 300px;
		height: 2.5rem;
		margin-top: -1.1rem;
		font-size: 1rem;
		background-color: transparent;
	}

	.dropdown2 {
		margin-top: -0.55rem;
		height: 1.5rem;
		font-size: 1rem;
	}
	.use-location-wrapper2 {
		font-size: 0.8rem;
		margin-left: 3.5rem;
		height: 1.7rem;
		width: 11rem;
	}

	.my-location2 p {
		margin-left: -3rem;
	}

	.my-location2 {
		margin-left: -1rem;
	}
}
/* @media (max-width: 768px) {
	.search-btn2 {
		margin-top: -2.5rem;
		height: 25px;
		width: 25px;
	}
	.search-box2 {
		margin-left: 1rem;
		height: 0.5rem;
	}

	.textbox2 {
		width: 200px;
		height: 1.5rem;
		margin-top: -0.45rem;
	}

	.textbox2:focus {
		width: 200px;
		line-height: 1.5rem;
		/* padding: 0 0px; 
	}

	.dropdown2 {
		background-color: green;
	}
} */
/* @media (max-width: 1440px) and (min-width: 1224px) {
	.search-box2 {
		height: 0rem;
	}

	.search-btn2 {
		height: 25px;
		width: 25px;
		margin-top: -0.6rem;
	}

	.textbox2 {
		margin-top: -0.6rem;
		font-size: 1.1rem;
	}
	.dropdown2 {
		/* background-color: green; 
		height: 1.2rem;
		margin-top: -0.5rem;
	}
} */

/* @media (min-width: 1440px) and (max-width: 1920px) {
	.search-box2 {
		height: 0rem;
	}

	.search-btn2 {
		height: 25px;
		width: 25px;
		margin-top: -1rem;
	}

	.textbox2 {
		margin-top: -0.6rem;
		font-size: 1.1rem;
	}
	.dropdown2 {
		/* background-color: green;
		height: 1.2rem;
		margin-top: -0.5rem;
	}
} */

/* @media (min-width: 1824px) {
	.textbox2:focus {
		width: 270px;
		line-height: 1.5rem;
		/* padding: 0 0px; 
	}
} */
