.card {
	background-color: white;
	height: 20rem;
	border-radius: 30px;
	box-shadow: -0.25px 1px 5px 0.5px #888888;
	margin-left: 0.5rem;
	text-align: left;
	transition: box-shadow 0.35s;
}

.card button {
	position: absolute;
	/* background-color: #ff3b42; */
	background-image: linear-gradient(to right, #ff3b42, #f98487);
	color: white;
	height: 3rem;
	width: 30%;
	border: none;
	justify-content: center;
	/* text-align: center; */
	cursor: pointer;
	border-radius: 30px;
	font-size: 1rem;
	margin-top: 3.3rem;
	margin-left: 28%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.card button p {
	margin-bottom: 0rem;
}

.card h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	padding-left: 2rem;
}

.card h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding-left: 2rem;
	font-size: 1rem;
}

.card h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding-left: 2rem;
	font-size: 1.5rem;
}

.more-info {
	/* margin-left: -2.5rem;
	margin-top: -1px; */
}

.card button:focus {
	outline: none;
}

.card button:hover {
	background-color: #fa121a;
}

.card:hover {
	box-shadow: -0.25px 1px 5px 4px #888888;
}

.map-marker {
	color: #fa121a;
	font-size: 1.2rem;
}

.facility-type {
	color: #fa121a;
	font-size: 1.2rem;
	padding-right: 0.55rem;
}

.view-on-map {
	/* margin-left: 18rem; */
	float: right;
	margin-right: 2rem;
	font-size: 1.2rem;
	color: #fa121a;
	cursor: pointer;
	margin-top: 0.2rem;
	transition: all 0.2s ease-in-out;
}

.view-on-map:hover {
	transform: scale(1.1, 1.1);
}

@media (max-width: 768px) {
	.card h2 {
		font-size: 1rem;
		padding-left: 2rem;
	}
	.card h3 {
		font-size: 0.9rem;
		padding-left: 2rem;
	}
	.card {
		height: 15rem;
	}
	.card button {
		position: absolute;
		margin-top: -1.25rem;
		margin-left: 28%;
		font-size: 1rem;
	}

	.view-on-map {
		font-size: 1rem;
	}
}

@media (min-width: 1824px) {
	.card {
		height: 15rem;
	}
	.card button {
		position: absolute;
		margin-top: -1.35rem;
	}
}

@media (min-width: 1224px) {
	.card {
		height: 15rem;
	}
	.card button {
		position: absolute;
		margin-top: -1.35rem;
	}
}

@media (max-width: 1440px) {
	.card {
		height: 15rem;
	}
	.card h2 {
		font-size: 0.9rem;
	}
	.card h3 {
		font-size: 0.9rem;
	}
	.card button {
		font-size: 0.95rem;
		height: 2.75rem;
	}
}

@media (min-width: 768px) and (max-width: 1224px) {
	.card button {
		position: absolute;
		margin-top: -1rem;
	}

	.card h2 {
		font-size: 1.05rem;
	}

	.card h3 {
		font-size: 1.05rem;
	}
}

@media (min-width: 1440px) and (max-width: 1920px) {
	.card button {
		height: 2.5rem;
		font-size: 1rem;
	}
}
